<!-- <h1>This is employee Component</h1> -->
<dnt-header></dnt-header>
<dnt-header></dnt-header>
<dnt-header></dnt-header>
<dnt-header></dnt-header>

<div #errorDiv></div>

<!-- interpolation -->
{{ employeeName }}

{{1+1}}

<!-- property binding -->
<div [hidden]="hide" [innerText]="department"></div>

<!-- event binding -->
<button (click)="toggle()">Toggle</button>

{{employee.id}} - {{ employee.name }} - {{employee.email}}

<button (click)="removeTable()">Hide table</button>
<!-- {{empList | json}} -->

<br>
<hr>
{{employee | json}}

<button class="btn btn-success" (click)="addEmployee()">Add Employee</button>

<dnt-employee-list
[empList]="data"
[isWeb]="isWeb"
(selectedEmployee)="getSelectedEmployee($event)"
></dnt-employee-list>

<button (click)="getData()">Get Data</button>
<button (click)="addEmp()">Add Employee</button>

<!-- <button (click)="getNewData()">Get Data</button> -->

<ul>
  <li *ngFor="let emp of empList; trackBy: trackByFn">
    {{emp.name}} - {{emp.email}}
  </li>
</ul>
