<h1>
  Hello World!
</h1>



<!-- <ng-container [ngSwitch]="role"> -->
  <!-- admin -->
  <!-- <dnt-employee *ngSwitchCase="'Admin'"></dnt-employee>
  <div *ngSwitchCase="'User'">
    Welcome to HR portal!
  </div>
  <div *ngSwitchDefault>
    You dont have permisssion, please contant admin!
  </div> -->
<!-- </ng-container> -->

<!-- <dnt-department>

</dnt-department> -->

<!-- <dnt-employee></dnt-employee> -->

<!-- <dnt-employee-list  [empList]="data" [isWeb]="isWeb"></dnt-employee-list> -->
<!-- <dnt-container>
  <h1>
    This is content Projection
  </h1>
  <dnt-department></dnt-department>
  <dnt-employee></dnt-employee>
</dnt-container> -->

<!-- <dnt-todos></dnt-todos> -->

<dnt-employee-onboarding></dnt-employee-onboarding>
