<h1>
  Employee List
</h1>

<table class="table" *ngIf="isWeb; else empMobileTable">
  <thead>
    <tr>
      <th>Index</th>
      <th>Even</th>
      <th>Odd</th>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
      <th>DOB</th>
      <th>Age</th>
      <th>Salary</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="e ? 'even' : 'odd' " *ngFor="let emp of empList | slice : 0: 3; let i=index;let e=even; let o=odd">
      <td>{{i + 1}}</td>
      <td>{{e}}</td>
      <td>{{o}}</td>
      <td>{{emp.id}}</td>
      <td [innerText]="emp.name | lowercase"></td>
      <td>{{emp.email | titlecase}}</td>
      <td>{{emp.dob | date: 'shortDate'}}</td>
      <td>{{emp.age}}</td>
      <td>{{emp.salary | currency : 'GBP'}}</td>
      <td>
        <button class="btn btn-primary" (click)="sendToParent(emp)">Select</button>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #empMobileTable>
  <div *ngFor="let emp of empList">
    <span>{{emp.id}}</span> | <span>{{emp.name}}</span>
    | <span>{{emp.email}}</span>
  </div>
</ng-template>
