{{onboardingForm.value | json}}
{{onboardingForm.errors | json}}
<h1>
  Employee Onboarding
</h1>

<form [formGroup]="onboardingForm" (ngSubmit)="addEmployee()">
  <div class="form-group">
    <input class="form-control" type="text" formControlName="name" placeholder="Enter the Name">
    {{onboardingForm.get('name').errors | json}}
    <div *ngIf="onboardingForm.get('name').hasError('required')">
      Please enter your name!
    </div>
    <div *ngIf="onboardingForm.get('name').hasError('minlength')">
      Please enter name more than 2 chars!
    </div>
    <div *ngIf="onboardingForm.get('name').hasError('maxlength')">
      Name should be max 20 chars!
    </div>
    <div *ngIf="onboardingForm.get('name').hasError('invalidname')">
      Your name contains test keyword!
    </div>
  </div>
  <div class="form-group">
    <input type="text" placeholder="Datepicker" formControlName="dob" class="form-control" bsDatepicker>
  </div>
  <div class="form-group">
    <input type="text" placeholder="Enter Password" formControlName="password" class="form-control">
  </div>
  <div class="form-group">
    <input type="text" placeholder="Confirm Password" formControlName="confirmPassword" class="form-control">
  </div>
  <div *ngIf="onboardingForm.get('confirmPassword').hasError('invalidPassword')">
    Password and Confirm Password do not match!
  </div>
  <div class="form-group">
    <input class="form-control" type="email" formControlName="email" placeholder="Enter Email">
  </div>
  <div formGroupName="address">
    <div class="form-group">
      <input class="form-control" type="text" formControlName="addr1" placeholder="Enter the Address Line 1">
      <div *ngIf="onboardingForm.get('address.addr1').hasError('invalidChar')">
        Please enter the valid input!
      </div>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" formControlName="addr2" placeholder="Enter the Address Line 2">
    </div>
    <div class="form-group">
      <!-- <input class="form-control" type="text" formControlName="city" placeholder="Enter the City"> -->
      <select class="form-control" formControlName="city">
        <option *ngFor="let c of city">
          {{c}}
        </option>
      </select>
    </div>
    <div class="form-group">
      <input class="form-control" type="text" formControlName="pin" placeholder="Enter the Pin">
    </div>
  </div>

  <div class="form-group">
    <button class="btn btn-success" type="button" (click)="addExp()">Add Experience</button>
  </div>
  <div formArrayName="pastExp">
    <div *ngFor="let exp of pastExp.controls; let i=index">
      <div [formGroupName]="i">
        <div class="form-group">
          <input class="form-control" type="text" formControlName="employer" placeholder="Enter the employer name">
          <div *ngIf="onboardingForm.get(['pastExp',i,'employer']).hasError('required')">
            Please provide the employer name!
          </div>
        </div>
        <div class="form-group">
          <input type="text" placeholder="From Date" formControlName="fromDate" class="form-control" bsDatepicker>
        </div>
        <div class="form-group">
          <input type="text" placeholder="To Date" formControlName="toDate" class="form-control" bsDatepicker>
        </div>
        <div class="form-group">
          <input class="form-control" type="text" formControlName="designation" placeholder="Enter the designation">
        </div>
      </div>
      <div class="form-group">
        <button class="btn btn-danger" type="button" [disabled]="i<1" (click)="removeExp(i)">Remove Experience</button>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-success" type="button" [disabled]="pastExp.length <= 1" (click)="removeAll()">Clear
        Experience</button>
    </div>
  </div>

  <div class="form-group">
    <input type="checkbox" formControlName="tnc">
  </div>

  <div class="form-group">
    <button [disabled]="onboardingForm.invalid" type="submit" class="btn btn-primary">Add Employee</button>
  </div>
</form>
